.admin-dashboard {
  display: flex;
  position: relative;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  z-index: 1; /* Ensure sidebar stays on top of background */
}

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px); /* Takes full width minus sidebar width */
  z-index: 2; /* Higher z-index to place content in front of the sidebar */
  background-color: #ffffff; /* Content area background */
  position: relative;
}

.sidebar-header {
  background-color: #343a40;
  font-size: 1.5rem;
}
.content {
  padding: 20px;
}

.navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
